{% ckan_extends %}

{% block page_primary_action %}
  {% if h.check_access('package_create', {'owner_org': group_dict.id}) %}
    {% snippet 'snippets/add_dataset.html', group=group_dict.id, dataset_type='instrument' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(group_type + '.read', _('Instruments'), id=group_dict.name, icon='sitemap') }}
  {{ h.build_nav_icon(group_type + '.members', _('Members'), id=group_dict.name, icon='users') }}
  {{ h.build_nav_icon(group_type + '.about', _('About'), id=group_dict.name, icon='info-circle') }}
{% endblock %}

{% block groups_search_form %}
  {# Use 'dataset-search-form' so spatial query JS can append ext_bbox #}
  {% set dataset_type = 'instrument' %}
  {% set facets = {
    'fields': fields_grouped,
    'search': search_facets,
    'titles': facet_titles,
    'translated_fields': translated_fields,
    'remove_field': remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc')
    ]
  %}
  {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, placeholder=h.humanize_entity_type('package', dataset_type, 'search_placeholder') or _('Search instruments...'), show_empty=request.args, fields=fields %}
{% endblock %}

{% block organization_facets %}
  <div class="pidinst-search-filters">
    {% snippet 'snippets/instrument_filter_sidebar.html',
        is_platform='false',
        active_party_filters=active_party_filters,
        search_facets=search_facets,
        fields_grouped=fields_grouped %}
  </div>
{% endblock %}
