{% ckan_extends %}

{% block header_account_notlogged %}
<li>{% link_for _('Log in'), named_route='user.login' %}</li>

<li>
  <a href="{{ h.url_for('contact.form') }}" title="{{ _('Contact') }}">
    {% if c.userobj %}
    <i class="fas fa-envelope fa-lg"></i>
    {% else %} {{ _('Contact') }} {% endif %}
  </a>
</li>

{% if h.check_access('user_create') %}{% endif %}

<div
  class="modal fade"
  id="aafLoginModal"
  tabindex="-1"
  aria-labelledby="aafLoginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aafLoginModalLabel">Request Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Don’t have an AAF account yet? Please contact us to set up an account.</div>
      <div class="modal-footer">
        <a
          href="mailto:admin@data.auscope.org.au?subject=AuScope%20Instrument%20Repository%20-%20Request%20Account"
          class="btn btn-primary"
        >Contact Us</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block header_site_navigation_tabs %}
<ul class="nav nav-pills">
  <li class="{{ 'active' if request.path.startswith('/instruments') else '' }}">
    <a href="{{ h.url_for('pidinst_theme.instruments_search') }}">{{ _('Instruments') }}</a>
  </li>
  <li class="{{ 'active' if request.path.startswith('/platforms') else '' }}">
    <a href="{{ h.url_for('pidinst_theme.platforms_search') }}">{{ _('Platforms') }}</a>
  </li>

  <li class="{{ 'active' if request.path.startswith('/facility') else '' }}">
    <a href="/facility">{{ _('Facilities') }}</a>
  </li>
  <li class="{{ 'active' if request.path == '/about' else '' }}">
    <a href="{{ h.url_for('home.about') }}">{{ _('About') }}</a>
  </li>
</ul>
{% endblock %}

{% block header_logo %}
<a class="logo" href="{{ h.url_for('home.index') }}">
  <img
    src="{{ h.url_for_static_or_external('/base/images/AuScope Logo Icon.png') }}"
    alt="Auscope Logo"
    title="AuScope Instrument Registry"
    width="60" height="60"
  />
  <span class="logo-text">AuScope Instrument Registry </span>
</a>
{% endblock %}


{# (org_type ~ '.index', h.humanize_entity_type('organization', org_type, 'main nav') or _('Organisations'), ['organization']), #}
