{#
  Form snippet for parent_party field on the party (group) form.
  Renders a <select> dropdown of all existing parties (excluding self).
#}

{% set field_id   = 'field-' ~ field.field_name %}
{% set field_name = field.field_name %}
{% set value      = data.get(field_name, '') %}

<div class="form-group">
  <label class="control-label" for="{{ field_id }}">
    {{ h.scheming_language_text(field.label) }}
  </label>
  <div class="controls">
    <select id="{{ field_id }}" name="{{ field_name }}" class="form-control">
      <option value="">-- None --</option>
      {% set parties = h.get_party_list() %}
      {% for party in parties %}
        {# Exclude self to prevent circular parent reference #}
        {% if party.name != data.get('name', '') %}
          <option value="{{ party.name }}"
                  {% if party.name == value %}selected{% endif %}>
            {{ party.title or party.name }}
          </option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  {% if field.help_text %}
    <p class="help-block">{{ h.scheming_language_text(field.help_text) }}</p>
  {% endif %}
</div>
