{% trans %}

<p>
  The AuScope Virtual Research Environment (AVRE) is an AuScope program that focuses on delivering data,
  services, and tools to support the future research of the Australian geoscience research community. AVRE
  provides a rich ecosystem of Findable, Accessible, Interoperable and Reusable (FAIR) data and tools to a
  diverse range of Australian research organisations, government geological surveys and the international
  community. The AVRE program has contributed to the development and spearheaded the adoption of the
  International Generic Instrument Numbers (PIDINST) system in Australia in collaboration with the PIDINST
  e.V. Organisation, DataCite, and the Australian Research Data Commons (ARDC).
</p>
<p>
  The AuScope Instrument Registry provides a dedicated platform for registering, managing, and
  publishing metadata for AuScope-funded and AuScope-owned scientific instruments.
  The registry supports the use of persistent identifiers for instruments, helping improve their discoverability,
   traceability, citation, and connection to related research outputs such as datasets, publications, surveys,
   projects, and organisations.
</p>
<p>
  The registry is based on the PIDINST metadata standard and supports publication through DataCite-compatible
  metadata records. It is maintained by authorised data managers and is intended to provide a trusted,
  structured record of AuScope instrument infrastructure. Public users can browse and search published
  instrument and platform records, while authorised users can create and manage records within the registry.
</p>
{% endtrans %}

<style>
  .custom-link {
    color: var(--color-aus-royal-blue);
    text-decoration: none;
    font-weight: bold;
  }

  .custom-link:hover {
    text-decoration: underline;
    color: var(--color-aus-royal-blue);
    font-weight: bold;
  }
</style>
