{% set intro = g.site_intro_text %}

<div class="module-promotion card box">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to AuScope Instrument Registry") }}</h1>
      <p>
        {% trans %} The AuScope Instrument Registry provides a dedicated place to describe, manage, and publish metadata for AuScope-funded and AuScope-owned scientific instruments. It supports persistent identification of instruments, helping improve discoverability, traceability, citation, and reuse across research projects, datasets, and infrastructure programs.
        {% endtrans %}
      </p>
      <p>
        {% trans %} The registry is based on the PIDINST metadata standard and supports publishing instrument records with Digital Object Identifiers (DOIs). It helps make instrument information easier to find, understand, and link to related organisations, datasets, surveys, publications, and other research outputs.
        {% endtrans %}
        <br>
        </p>
      </p>
    {% endif %}
  </div>
  <style>
    .cropped-image {
      object-fit: cover;
      max-height: 350px;
    }
  </style>
  {% block home_image %}
      <section class="featured media-overlay hidden-xs">
        <h2 class="media-heading">{% block home_image_caption %}{{ _("CSIRO-developed Maia x-ray imaging") }}{% endblock %}</h2>
        {% block home_image_content %}
          <div class="media-image-wrapper">
            <a class="media-image" href="#">
              <img class="img-fluid cropped-image"
                  src="{{ h.url_for_static('/base/images/RS6235_Maia 63215_corrected_tifesr.jpg') }}"
                  alt="Placeholder" />
            </a>
            <div class="image-caption">
              CSIRO-developed Maia x-ray imaging.
            </div>
          </div>
        {% endblock %}
      </section>
  {% endblock %}
</div>
