{%- set label_field = field.get('label_field_name', 'gcmd_keywords') -%}
{%- set code_field = field.field_name -%}

{%- set gcmd_keywords = data.get(label_field, '[]').strip("[]").split('","') if data.get(label_field) else [] %}
{%- set gcmd_keywords_code = data.get(code_field, '[]').strip("[]").split(",") if data.get(code_field) else [] %}

<style>
    .no-bullets {
        list-style-type: none; /* Removes bullet points */
        padding-left: 0; /* Removes indentation */
    }
</style>

{% if gcmd_keywords and gcmd_keywords[0] %}
<ul class="no-bullets">
  {% for i in range(gcmd_keywords|length) %}
    {% set keyword = gcmd_keywords[i].strip('" ') %}
    {% set keyword_code = gcmd_keywords_code[i] %}
    <li>
      {{ h.link_to(keyword, keyword_code, target='_blank') }}
    </li>
  {% endfor %}
</ul>
{% endif %}