{%- set gcmd_keywords = data.get('gcmd_keywords', '[]').strip("[]").split('","') if data.get('gcmd_keywords') else [] %}
{%- set gcmd_keywords_code = data.get('gcmd_keywords_code', '[]').strip("[]").split(",") if data.get('gcmd_keywords_code') else [] %}

<style>
    .no-bullets {
        list-style-type: none; /* Removes bullet points */
        padding-left: 0; /* Removes indentation */
    }
</style>

{% if gcmd_keywords and gcmd_keywords[0] %}
<ul class="no-bullets">
  {% for i in range(gcmd_keywords|length) %}
    {% set keyword = gcmd_keywords[i].strip('" ') %}
    {% set keyword_code = gcmd_keywords_code[i] %}
    <li>
      {{ h.link_to(keyword, keyword_code, target='_blank') }}
    </li>
  {% endfor %}
</ul>
{% endif %}