include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/pidinst_theme *.html *.json *.js *.less *.css *.mo *.yml *.yaml
recursive-include ckanext/pidinst_theme/assets *.js *.css *.yml
recursive-include ckanext/pidinst_theme/assets/css *.css
recursive-include ckanext/pidinst_theme/migration *.ini *.py *.mako