{% extends "contact/snippets/form.html" %} {% block contact_form_legend_content %} {% endblock %} {% block
contact_form_fields %} {% set subject = "Organisation Access" %} {% set name_label = _('Organisation Contact
Name') %} {% set email_label = _('Email') %} {% set description_label = _('Description') %} {% set
organisation_id_label = _('Organisation ID') %} {% set organisation_name_label = _('Organisation Name') %}

<input type="hidden" name="subject" value="{{ subject }}" />
<input type="hidden" name="content" value="{{ data.content }}" />
<input type="hidden" name="organisation_id" value="{{ data.organisation_id }}" />
<input type="hidden" name="organisation_name" value="{{ data.organisation_name }}" />

{{ form.input('name', label=name_label, id='field-name', value=data.name, error=errors.name,
classes=['control-medium'], is_required=true) }} {{ form.input('email', label=email_label, id='field-email',
type='email', value=data.email, error=errors.email, classes=['control-medium'], is_required=true) }} {{
form.textarea('description', label=description_label, id='field-description', value=data.description,
error=errors.description, placeholder=_('Brief description?'), is_required=true) }} {% endblock %}
