{% ckan_extends %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=pkg.name, icon='sitemap') }}
{% endblock %}

{% block secondary_content %}
  {% block secondary_help_content %}
  {% endblock %}

  {% block package_organization %}
    {{ super() }}
  {% endblock %}

  {% block family_info %}
    {% snippet 'package/snippets/family_info.html', pkg=pkg, am_following=am_following %}
  {% endblock %}
{% endblock %}

{% block structured_data %}
  {# h.structured_data is defined in the 'structured_data' plugin, you have to activate the plugin (or implement the method yourself) to make use of this feature. More information about structured data: https://developers.google.com/search/docs/guides/intro-structured-data #}
  {% if h.helper_available('structured_data') %}
    <script type="application/ld+json">
      {{ h.custom_structured_data(pkg.id)|safe }}
    </script>
  {% endif %}
{% endblock %}


{# Add dataset ID for analytics tracking #}
{% block primary_content_inner %}
<div data-dataset-id="{{ pkg.id }}" data-module="dataset-view">
  {{ super() }}
</div>
{% endblock %}

{# Track page view via inline script #}
{% block scripts %}
{{ super() }}
<script>
  // Track dataset page view
  if (typeof window.CKANAnalytics !== 'undefined') {
    window.addEventListener('DOMContentLoaded', function() {
      window.CKANAnalytics.track('Dataset Page View', {
        dataset_id: '{{ pkg.id }}',
        dataset_title: '{{ pkg.title }}',
        dataset_name: '{{ pkg.name }}',
        organization: '{{ pkg.organization.title if pkg.organization else "" }}',
        has_doi: {% if pkg.doi %}true{% else %}false{% endif %},
        num_resources: {{ pkg.resources|length }},
        page_url: window.location.href
      });
    });
  }
</script>
{% endblock %}
