{% ckan_extends %}

{% block content_action %}
  {% set pub_status = pkg.publication_status or '' %}
  {% if h.check_access('package_update', {'id': pkg.id}) and pub_status not in ('withdrawn', 'duplicate') %}
    {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-default', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=pkg.name, icon='sitemap') }}
{% endblock %}

{% block secondary_content %}
  {% block secondary_help_content %}
  {% endblock %}

  {% block package_organization %}
    {{ super() }}
  {% endblock %}

  {% block family_info %}
    {% snippet 'package/snippets/family_info.html', pkg=pkg, am_following=am_following %}
  {% endblock %}

{% endblock %}

{% block structured_data %}
  {# h.structured_data is defined in the 'structured_data' plugin, you have to activate the plugin (or implement the method yourself) to make use of this feature. More information about structured data: https://developers.google.com/search/docs/guides/intro-structured-data #}
  {% if h.helper_available('structured_data') %}
    <script type="application/ld+json">
      {{ h.custom_structured_data(pkg.id)|safe }}
    </script>
  {% endif %}
{% endblock %}


{# Add dataset ID and analytics attributes for JS tracking.
   dataset_type and is_public are set here so the JS module can read them
   without needing a separate API call. #}
{% block primary_content_inner %}
{% set _dtype = 'platform' if pkg.is_platform in (True, 'true', 'True') else ('instrument' if pkg.is_platform in (False, 'false', 'False') else 'unknown') %}
{% set _is_public = 'false' if pkg.private else 'true' %}
<div data-dataset-id="{{ pkg.id }}"
     data-dataset-type="{{ _dtype }}"
     data-is-public="{{ _is_public }}"
     data-module="dataset-view">
  {{ super() }}
</div>
{% endblock %}
